<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WotModTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WotModTools.Properties.Settings>
            <setting name="WotDir" serializeAs="String">
                <value>C:\Games\World_of_Tanks\</value>
            </setting>
            <setting name="Workspace" serializeAs="String">
                <value>workspace\</value>
            </setting>
            <setting name="WotVersion" serializeAs="String">
                <value>0.9.13</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </WotModTools.Properties.Settings>
    </userSettings>
</configuration>